body {
  width: 100vw;
  font-family: "Krub", sans-serif;
  height: 100%;
}
a {
  color: rgb(253, 253, 253); /* ou la couleur de votre choix */
  text-decoration: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
