/* Burger Menu */
.burger-menu {
  position: absolute;
  top: 7vh;
  right: 9vw;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-menu ul {
  list-style: none;
  padding: 1vh;
  margin: 1vh;
  background-color: #ffc1bddc;
  border-radius: 10px;
  transition: 1000ms;
}

.burger-menu li {
  padding: 5px 20px;
  border-bottom: 1px solid #e66b19;
}

.burger-menu li:last-child {
  border-bottom: none;
}

.burger-menu li a,
.burger-menu li button {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-menu li a:hover,
.burger-menu li button:hover {
  background-color: #f0f0f0;
  font-size: 14px;
  transition: 1300ms;
}

.burger-bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

.burger-menu.open .burger-bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu.open .burger-bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .burger-bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
}

.menu.show {
  display: block;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li a,
.menu li button {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.menu li a:hover,
.menu li button:hover {
  background-color: #f0f0f0;
}
