button {
  width: 10.1rem;
  height: 3rem;
  color: #fff;
  background-color: #dfa080ec;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  border: rgba(0, 0, 0, 0.66) 1px solid;
  border-radius: 2px;
}
