header {
  margin: 1rem 2rem;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-family: "Krub", sans-serif;
}
header div {
  display: flex;
}
a {
  text-decoration: none;
}
header img {
  height: 50px;
  width: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.header-btn {
  display: flex;
  gap: 2vw;
}

.logo-nav-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbc4b8;
}

.search {
  padding-left: 4vw;
  border: none;
  height: 1rem;
  border-radius: 10px;
  background-color: #dbc4b8ec;
  width: 80vw;
}
.search:hover {
  border-radius: 15px 15px 0 0;
  background-color: #e6d2c8bf;
  transition: 1.1s;
}

.cnt-btn {
  height: 35px;
  width: 9vw;
  border-radius: 10px;
  color: #fff;
  background-color: #dfa080ed;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cnt-btn:hover {
  background-color: #c87660;
  border-radius: 10px 10px 0 0;
  transition: 2.1s;
}

.deconnexion {
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
  color: #ffffffd4;
  background-color: #da0d0df9;
  font-weight: 800;
}
.dct-div .deconnexion:hover {
  background-color: #ff2f2ff4;

  transition: 900ms;
}
.dct-div {
  display: flex;
  align-items: center;
  gap: 4vw;
}
.profileUpdate-icon,
.panier {
  background-color: #ffc1bdd8;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav {
  display: none;
}

.header-inpt-btn {
  display: flex;
  gap: 4vw;
  align-items: center;
}
.panier {
  display: none;
}

@media (max-width: 768px) {
  .header-btn {
    gap: 10px;
    display: flex;
  }

  .header input {
    height: 1rem;
  }
  .header img {
    width: 35px;
    height: 35px;
  }
  .deconnexion {
    height: 5vh;
    width: 10rem;
  }
  .cnt-btn {
    width: 10vh;
  }

  .profileUpdate-icon {
    display: none;
  }
  .panier {
    display: flex;
    width: 35px;
    height: 35px;
  }
  .search-nav {
    /* margin-top: 25px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
  }
  .header-nav {
    font-weight: bolder;
    display: flex;
    gap: 20px;
  }
  .dct-div {
    justify-content: space-around;
  }
}

/* Media Queries for mobile screens */
@media (max-width: 480px) {
  .header {
    margin: 1rem;
    gap: 0.2rem;
    align-items: center;
  }

  .header input {
    height: 0.2rem;
  }

  .deconnexion {
    height: 2rem;
    width: auto;
    font-size: 0.6rem;
  }

  .header img,
  .panier {
    height: 30px;
    width: 50px;
    border-radius: 5px;
  }
  .cnt-btn {
    height: 8vw;
  }
  .header-nav {
    font-size: 12px;
    gap: 10px;
  }
}
@media (max-width: 375px) {
  .header-inpt-btn {
    display: flex;
    align-items: center;
    gap: 0;
  }
  .cnt-btn {
    height: 2rem;
    width: 4rem;
  }
}
