header {
  margin: 1rem 2rem;

  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-family: "Krub", sans-serif;
}
header div {
  display: flex;
}
a {
  text-decoration: none;
}
header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: #000000f9 2px solid;
}

.header-btn {
  display: flex;
  gap: 2vw;
}

.logo-nav-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbc4b8;
}

.search {
  padding-left: 4vw;
  border: none;
  height: 0.8rem;
  background-color: #dbc4b8ec;
  width: 80vw;
}
.search:hover {
  background-color: #eee5e0;
  transition: 1.1s;
  width: 90vw;
}

.cnt-btn {
  height: 35px;
  width: 9vw;
  color: #fff;
  background-color: #dfa080ed;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cnt-btn:hover {
  background-color: #c87660;
  transition: 2.1s;
}

.deconnexion {
  height: 2.5rem;
  width: 8rem;
  color: #ffffffd4;
  background-color: #da0d0df9;
  font-weight: 800;
  /* border: #000000 2px solid; */
}
.dct-div .deconnexion:hover {
  background-color: #ff2f2ff4;

  transition: 900ms;
}
.dct-div {
  display: flex;
  align-items: center;
  gap: 4vw;
}
.profileUpdate-icon,
.panier {
  background-color: #ffc1bdf2;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000000 2px solid;
  cursor: context-menu;
}

a {
  color: rgb(253, 253, 253); /* ou la couleur de votre choix */
  text-decoration: none;
}

.header-nav {
  display: none;
  padding: 0 1rem;
}

.header-inpt-btn {
  display: flex;
  gap: 4vw;
  align-items: center;
}
.panier {
  display: none;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.search-results {
  background-color: #ffffffdf;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-result {
  background-color: #ffffffdf;
  margin-top: 1rem;
  height: 100px;
  width: 80%;
  display: flex;
  gap: 3vw;
  margin-bottom: 2px;
}
.search-result div {
  color: #000000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-left: #000000 solid 1px;
}

@media (max-width: 768px) {
  .header-btn {
    gap: 10px;
    display: flex;
  }

  .header img {
    width: 35px;
    height: 35px;
  }
  .deconnexion {
    height: 2.4rem;
  }
  .cnt-btn {
    width: 10vh;
  }

  .profileUpdate-icon {
    display: none;
  }
  .panier {
    display: flex;
    width: 35px;
    height: 35px;
  }
  .search-nav {
    /* margin-top: 25px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
  }
  .header-nav {
    font-weight: bolder;
    display: flex;
    gap: 20px;
  }
  .dct-div {
    justify-content: space-around;
  }
}

/* Media Queries for mobile screens */
@media (max-width: 480px) {
  .header {
    margin: 1rem;
    gap: 0.2rem;
    align-items: center;
  }

  .header input {
    height: 0.2rem;
  }

  .deconnexion {
    height: 2rem;
    width: auto;
    font-size: 0.6rem;
  }

  .header img,
  .panier {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .cnt-btn {
    height: 8vw;
  }
  .header-nav {
    font-size: 12px;
    gap: 10px;
  }
}
@media (max-width: 375px) {
  .header-inpt-btn {
    display: flex;
    align-items: center;
    gap: 0;
  }
  .cnt-btn {
    height: 2rem;
    width: 4rem;
    font-size: small;
  }
  .deconnexion {
    display: none;
  }
}
