.main-login {
  margin-top: 5rem;
  color: #fff;
  font-family: "Krub", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.main-login img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-login h2 {
  text-align: center;
  font-size: 2em;
  text-shadow: 0 0 20px rgba(252, 124, 124, 0.8);
}

.main-login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.main-login input:hover {
  background-color: rgba(255, 255, 255, 0.854);
  transition: 600ms;
}

.password-input {
  position: relative;
}

.toggle-visibility-icon {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #292727;
}

.login-btn {
  width: 10.1rem;
  height: 3rem;
  border-radius: 10px;
  color: #fff;
  background-color: #dfa080ec;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #cf8860;
  font-size: 1.25rem;
  transition: 900ms;
}
.signup-link {
  width: 17rem;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
}

.signup-link a {
  color: #dfa080bd;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.3s;
  text-shadow: 2px 2px 5px rgb(17, 2, 2);
}

.signup-link a:hover {
  color: #d6390d;
  text-shadow: 2px 2px 10px rgb(246, 246, 246);
}

.error-message {
  color: red;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
}

/* Media Queries */
@media (max-width: 768px) {
  .login-container {
    left: 10vw;
    top: 15vh;
    padding: 2vh 2vw;
  }

  .main-login h2 {
    font-size: 1.5rem;
  }

  .input {
    width: 80vw;
  }

  .toggle-visibility-icon {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .login-container {
    left: 5vw;
    top: 10vh;
    padding: 1.5vh 1.5vw;
  }

  .main-login h2 {
    font-size: 1.3rem;
  }

  .input {
    width: 90vw;
  }
}
