.NoMatch {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Krub", sans-serif;
}

.NoMatch h1 {
  font-size: 72px;
}

.btn-nomatch {
  width: 30%;
  height: 3em;
  color: #fff;
  background-color: #dfa080ec;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.btn-nomatch:hover {
  background-color: #c87660;
}
