.profile-page {
  margin-top: 5rem;
  padding-bottom: 150px;

  color: #fff;
  font-family: "Krub", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 3rem;
}
.profile-page img {
  width: 100%;
  height: 100vh;

  object-fit: cover;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.profile-page h1 {
  text-align: center;
  color: #fef2f2;
  font-size: 2rem;
}
.profile-page div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #ecbbbb63;
  gap: 1rem;
  border-radius: 5px;
}
.profile-informations {
  font-weight: 600;
}
.input-group {
  display: flex;
}
.profile-details p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

.profile-details strong {
  color: #000;
}

.spinner {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.error {
  text-align: center;
  color: red;
  font-size: 18px;
  margin-top: 50px;
}

.spinner img {
  border: 2px solid rgba(0, 0, 0, 0.781);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
