.main-profileUpdate {
  margin-top: 5rem;
  padding-bottom: 150px;

  /* color: #fff; */
  font-family: "Krub", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5rem;
}
.main-profileUpdate img {
  width: 100%;
  height: 100vh;

  object-fit: cover;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.main-profileUpdate h2 {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.profileUpdate-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 1rem;
}

.adress-area {
  width: 17rem;
  border-radius: 10px;
}

.profileUpdate-image label {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.input-img {
  border: none;
  border-radius: 3px;
  height: 25px;
  width: 100%;
  margin-top: 15px;
}
#sexe {
  border: none;
  width: 15rem;
  padding: 0.8rem;
  border-radius: 7.5px;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.91);
}

.profileUpdate-image img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* profileUpdate Information Section */
.profileUpdate-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.button-profileUpdate {
  margin-top: 2rem;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

/* Button Styles */
.button-profileUpdate {
  width: 120px;
  background-color: #dfa080bd;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  align-self: center;
}

.button-profileUpdate:hover {
  background-color: #c87660;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  /* border-left-color: #4caf50; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries for tablets and smaller screens */
@media (max-width: 768px) {
  .main-profileUpdate {
    padding: 10%;
  }

  .main-profileUpdate h2 {
    font-size: 1.4rem;
  }

  .profileUpdate-image img {
    width: 50px;
    height: 50px;
  }

  .button-profileUpdate {
    width: 100%;
  }
}

/* Media Queries for mobile screens */
@media (max-width: 480px) {
  .main-profileUpdate h2 {
    font-size: 1.2rem;
  }

  .profileUpdate-image {
    flex-direction: column;
    align-items: center;
  }

  .profileUpdate-image img {
    width: 40px;
    height: 40px;
  }

  .button-profileUpdate {
    width: 60vw;
  }
}
