.main-profile {
  background-image: url("../img/backgroundsignup.jpg");
  background-size: cover; /* Ajuste l'image pour qu'elle couvre tout le fond */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image */
  color: aliceblue;
}
.main-profile,
.main-profile form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25%;
  font-size: 16px;
  font-family: "Krub", sans-serif;
}

.main-profile h2 {
  font-size: 1.6em;
  text-align: center;
  font-weight: bolder;
}
.profile-image {
  display: flex;
  gap: 10px;
}
.profile-image label {
  padding: 10px;
}
.input-img {
  border: none;
  border-radius: 3px;
  height: 25px;
  width: 100%;
  margin-top: 15px;
}
.profile-image img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.input,
.button-profile {
  border: none;
  border-radius: 3px;
  height: 25px;
  width: 100%;
  margin-top: 15px;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 14 px;
}

.button-profile {
  width: 100px;
}
