.main-signup {
  color: #ffff;
  font-family: "Krub", sans-serif;
}

.main-signup img {
  width: 100vw;
  height: 70hw;
  position: absolute;
  z-index: -2;
}

.main-signup h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  position: absolute;
  top: 20vh;
  left: 40vw;
  z-index: 2;
  text-align: center;
  padding: 20px;

  border-radius: 10px;
}
.main-signup form {
  position: relative;
  top: 20vh;
  left: 40vw;
  display: flex;
  flex-direction: column;
}
.main-signup form input {
  width: 15vw;
}
/* .main-signup {

  justify-content: center;
  gap: 50px;
  font-size: 16px;
  font-family: "Krub", sans-serif;
}

.main-signup img {
  width: 100%;
  height: 100hw;
  object-fit: cover;
  filter: blur(1.6px);
  opacity: 90%;

}
.main-signup > div {
  border-radius: 3px;
  padding: 20px;
  padding-right: 40px;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.387);
  position: relative;
  left: 40px;
  top: 40px;
}

.home-container h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  position: absolute;
  top: 40vh;
  left: 40vw;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 13px 4px rgba(255, 255, 255, 0.75);
  background-color: rgba(249, 200, 208, 0.4);
  border-radius: 10px;
}
.home-container h1:hover {
  background-color: rgba(249, 200, 208, 0.66);
}
.main-signup h2 {
  padding: 30px;
  font-size: 2em;
  text-align: center;
  font-weight: bolder;
  text-shadow: 2px 2px 0px rgba(211, 125, 162, 0.3);
}

.main-signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.input {
  width: 10vw;
}

.signup-btn {
  border: none;
  border-radius: 3px;
  height: 30px;
}
.signup-btn:hover {
  background-color: #df4e0070;
}
.chechbox-newsletter {
  display: flex;
  align-items: center;
}
.error-message {
  color: red;
  text-align: center;
  font-size: 14 px;
}
.main-signup p {
  font-size: 14px;
  text-align: justify;
} */
