.main-signup {
  color: #fff;
  font-family: "Krub", sans-serif;
}

.main-signup img {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.signup-container {
  position: absolute;
  top: 25vh;
  left: 34vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3vh 3vw;
  border-radius: 10px;
  z-index: 2;
  width: 30%;
  overflow: scroll;
}

.main-signup h2 {
  color: #fffffff1;
  font-size: 2rem;
  margin: 1rem;
  text-shadow: 0px 0px 5px #5e463f;
  text-align: center;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* .signup-container form .input {
  margin-bottom: 1rem;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s;
} */

.signup-container form .input:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.signup-container p {
  color: #fff;
  font-size: 14px;
  text-align: justify;
  padding: 1vh 0;
}

.signup-container p span {
  color: #dfa080bd;
  font-weight: bold;
}

.nl-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #dfa080bd;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.signup-container form button {
  color: #fff;
  margin-top: 1rem;
  border: none;
  height: 3rem;
  border-radius: 5px;
  background-color: #dfa080bd;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-container form button:hover {
  background-color: #c87660;
}

.toggle-visibility-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #aaa;
}

@media (max-width: 768px) {
  .signup-container {
    top: 30%;
    padding: 2vh 2vw;
    background-color: none;
  }
  .main-signup {
    overflow: scroll;
  }
  .main-signup img {
    height: 100vh;
  }
  .signup-container form .input {
    height: 1rem;
    width: 12rem;
    font-size: 0.7rem;
  }

  .signup-container h2 {
    font-size: 1.5rem;
  }

  .signup-container p {
    font-size: 1px;
    width: 10rem;
  }
  .nl-countaine {
    width: 10rem;
    gap: 30px;
  }
}

@media (max-width: 375px) {
  .signup-container,
  .signup-container form {
    left: 2vw;
    top: 10vh;
    padding: 1.5vh 1.5vw;
    background-color: none;
    display: flex;
    justify-content: center;
  }

  .signup-container h2 {
    font-size: 1.3rem;
  }

  .signup-container p {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .signup-container {
    width: 80vw;
    top: 25%;
    left: 10%;
    padding: 1.5vh 1.5vw;
    background-color: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .signup-container p {
    font-size: 1rem;
  }
}
